<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/5.2.1/dist/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.6.1/dist/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/5.2.1/dist/js/bootstrap.min.js}"></script>

</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card card-header-pills border-primary mb-3">
                <div class="card-header text-bg-primary">
                    <h1 class="card-title">My Recipes!</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>1</td>
                                <td>Description placeholder 1</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>2</td>
                                <td>Description placeholder 2</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            <tr th:each="recipe : ${recipes}">
                                <!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->
                                <td th:text="${recipe.id}">3</td>
                                <td th:text="${recipe.description}">Description placeholder 3</td>
                                <td><a href="#" th:href="@{'recipe/show/' + ${recipe.id}}">View</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Older Version of Bootstrap (3.X.X) -->
<!--<div class="container-fluid" style="margin-top: 20px">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 col-md-offset-3">-->
<!--            <div class="panel panel-primary">-->
<!--                <div class="panel-heading">-->
<!--                    <h1 class="panel-title">My Recipes!</h1>-->
<!--                </div>-->
<!--                <div class="panel-body">-->
<!--                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">-->
<!--                        <table class="table table-hover">-->
<!--                            <thead class="thead-inverse">-->
<!--                            <tr>-->
<!--                                <th>ID</th>-->
<!--                                <th>Description</th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tr th:remove="all">-->
<!--                                <td th:text="${recipe.id}">1</td>-->
<!--                                <td th:text="${recipe.description}">Description placeholder 1</td>-->
<!--                            </tr>-->
<!--                            <tr th:remove="all">-->
<!--                                <td th:text="${recipe.id}">2</td>-->
<!--                                <td th:text="${recipe.description}">Description placeholder 2</td>-->
<!--                            </tr>-->
<!--                            <tr th:each="recipe : ${recipes}">-->
<!--                                <td th:text="${recipe.id}">3</td>-->
<!--                                <td th:text="${recipe.description}">Description placeholder 3</td>-->
<!--                            </tr>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>
